[submodule "libft"]
	path = libft
	url = https://github.com/cbcercas/Libft.git
[submodule "libftprintf"]
	path = libftprintf
	url = https://github.com/cbcercas/libftprintf.git
[submodule "liblogger"]
	path = liblogger
	url = https://github.com/cbcercas/liblogger.git
[submodule "libtcaps"]
	path = libtcaps
	url = https://github.com/cbcercas/Libtcaps.git
